.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    background-color: black;
}
.grid-item{
    margin:5px;
    background-color: aquamarine;
    padding:10px;
}

@media (max-width:1000px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
         
}
@media (max-width:1000px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        background-color: black;
    }
         
}